<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>

    <div class="overlay" id="overlay"></div>
    <nav id="drawer" class="nav">
        <ul class="nav-list t-center">
            <li class="close"><a href="#" id="close">X</a></li>
            <li class="nav-item"><a class="white-text" href="index.html">Home</a></li>
            <li class="nav-item"><a class="white-text" href="#">Favorite</a></li>
            <li class="nav-item"><a class="white-text" href="https://github.com/IlhamShiddiq/" target="_blank">About Us</a></li>
        </ul>
    </nav>
    <div class="mobile-menu">
        <p class="hamburger"><a href="#" id="hamburger">☰</a></p>
    </div>
    <div class="logo">
        <div class="logo-wrapper m-auto t-center">
            <img src="images/happy-restaurant.png" alt="Hero Image">
        </div>
    </div>
    <main>
        <div class="hero">
            <div class="hero-title-wrapper">
                <div class="hero-title white-text m-auto t-center">
                    <h1>Most Wonderful Restaurant</h1>
                </div>
            </div>
        </div>
        <div class="sub-hero">
            <div class="sub-hero-img m-auto" id="sub-hero-img">
                
            </div>
        </div>
        <div class="wrapper-content">
            <div class="content m-auto">
                
            </div>
            <div class="imgs">
                <div class="sub-imgs m-auto"></div>
                <div class="note white-text m-auto t-center"><span class="quote">"</span> Invariably the food is tasty and well prepared. The fare is appropriate for the price point and market it’s aimed at. It’s essential that patrons feel they’ve had a good, enjoyable meal. <span class="quote">"</span></div>
            </div>
        </div>
    </main>
    <footer class="white-text t-center">
        Copyright © 2020 - Happy Restaurant
    </footer>

</body>
</html>