/* Navigasi Hamburger Khusus Small Device (Mobile, dll) */
@media screen and (max-width: 843px) {
    #drawer {
        width: 250px;
        height: 100%;
        position: absolute;
        top: 0;
        transform: translate(-290px, 0);
        transition: transform 0.3s ease-in-out;
        background-color:#111;
        z-index: 3;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
    }    
    #drawer.open {
        transform: translate(0,0)
    }
    #drawer ul {
        list-style-type: none;
        padding: 0 16px;
    }   
    #drawer li {
        display: block;
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: capitalize;
    }   
    #drawer a {
        text-decoration: none;
        font-size: 18px;
        color: white;
    }
    #drawer a:hover {
        color: rgb(177, 177, 177);
    }
}